/* 全局样式表 */
html,body,#app{
    height: 100%;
    margin: 0;
    padding: 0;
    /* 当宽度小于1366将不会进行响应式伸缩 */
    min-width: 1366px;
}
.el-breadcrumb{
    margin-bottom: 15px;
    font-size: 12px;
}
.card{
    box-shadow: 0 1px 1px rgba(0,0,0,0.15)!important;
}
.el-table{
    margin-top: 15px;
    font-size: 12px;
}
/*只设置dropdown会出问题，要两个一起设置高度*/
.el-cascader__dropdown {
    height: 200px;
  }
.el-cascader-panel {
    height: 200px;
}
